@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
}

ul.navbar-nav {
    margin-left: 24px;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #213866;
    opacity: 80%;
}

.btn.btn-primary {
    letter-spacing: 1.3px;
    padding: 6px 28px 6px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #2D928C;
    filter: drop-shadow(0px 10px 20px rgba(45, 146, 140, 0.24));
}